{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title  %}
    {% endblock %}</title>
    <link rel="shorcut icon" href="{% static 'profile.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src ="{% static 'vue.js' %}" type="text/javascript" charset="UTF-8"></script>
    <link rel="stylesheet" href="{% static 'paper_display.css' %}">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: 	#494949;
   color: white;
   text-align: center;
}

</style>
</head>
<body>

    Say something.
    {% if user.is_authenticated %}

        <p>
            {{ user.username }}, welcome.
            <form
            action="{% url 'user_profile:delete' user.id %}"
              method="post">
            {% csrf_token %}
            <button type="submit"> Delete this Account </button>
            </form>
        </p>
        <a href="{% url 'user_profile:profile_edit' user.id %}">Edit Profile</a>
        <a href="{% url 'user_profile:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'user_profile:login' %}">Login</a>
    {% endif %} <br><br>
    {% block content %}
    {% endblock %}

<div class="footer">
    <p style="text-align:center;">© Akiyama Kunka 2021</p>
    <p style="text-align:center;">CS '24 @ University of Wisconsin - Madison</p>
    <p style="text-align:center;">Powered by Django</p>

    <a href= "https://www.instagram.com/Akiyama_Kunka/">
        <img src="{% static 'Instagram-Glyph-Color-Logo.wine.svg' %}"  width="80" height="80"/>
    </a>
<a href= "https://github.com/AkiyamaKunka">
        <img src="{% static 'GitHub-Icon-White-Logo.wine.svg' %}"  width="80" height="80"/>
    </a>
    <a href= "https://www.linkedin.com/in/junjia-wang-a11341200/">
        <img src="{% static 'LinkedIn-Icon-Logo.wine.svg' %}"  width="80" height="80"/>
    </a>


</div>

</body>
</html>