{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title  %}
    {% endblock %}</title>
    <link rel="shorcut icon" href="{% static 'profile.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src ="{% static 'vue.js' %}" type="text/javascript" charset="UTF-8"></script>
    <link rel="stylesheet" href="{% static 'paper_display.css' %}">
    <div class="header">

    <br>
        <div id="neon-btn">
            {% if user.is_authenticated %}
		   <a href="{% url 'user_profile:logout' %}" class="btn one">Log  Out</a>
            {% else %}
        <a href="{% url 'user_profile:login' %}" class="btn one">Log  In</a>
        {% endif %}
{#		  <p style="text-align:center;">#}
          <a href="{% url 'article:article_list' %}" class="btn two">Article List</a>
{#          </p>#}
            <a href="{% url 'admin:index' %}" class="btn three">Admin Page</a>

		</div>
    </div>

</head>
<body>
{#    <div class="Akiyama header" >#}
{##}
{#    </div>#}
{#    <div class="header">#}
    Say something.


    {% if user.is_authenticated %}
        <p>
            {{ user.username }}, welcome.
            <form
            action="{% url 'user_profile:delete' user.id %}"
              method="post">
            {% csrf_token %}
            <button type="submit"> Delete this Account </button>
            </form>
        </p>
        <a href="{% url 'user_profile:profile_edit' user.id %}">Edit Profile</a>

    {% endif %} <br><br>
{#    </div>#}



    {% block content %}

    {% endblock %}




</body>

<footer>
    <div class="footer">

    <p style="text-align:center;">© Akiyama Kunka 2021</p>
    <p style="text-align:center;">CS '24 @ University of Wisconsin - Madison</p>
    <p style="text-align:center;">Powered by Django</p>

    <a href= "https://www.instagram.com/Akiyama_Kunka/">
        <img src="{% static 'Instagram-Glyph-Color-Logo.wine.svg' %}"  width="80" height="80"/>
    </a>
<a href= "https://github.com/AkiyamaKunka">
        <img src="{% static 'GitHub-Icon-White-Logo.wine.svg' %}"  width="80" height="80"/>
    </a>
    <a href= "https://www.linkedin.com/in/junjia-wang-a11341200/">
        <img src="{% static 'LinkedIn-Icon-Logo.wine.svg' %}"  width="80" height="80"/>
    </a>

{#        <div id="loading-btn">#}
{#		  <button><span>Hover</span></button>#}
{#		</div>#}


</div>
</footer>
</html>