{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title  %}
    {% endblock %}</title>
    <link rel="shorcut icon" href="{% static 'profile.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: 	#4B9CD3;
   color: white;
   text-align: center;
}
</style>
</head>
<body>
    {% if user.is_authenticated %}
        <p>
            {{ user.username }}, welcome.
            <form
            action="{% url 'user_profile:delete' user.id %}"
              method="post">
            {% csrf_token %}
            <button type="submit"> Delete this Account </button>
            </form>
        </p>
        <a href="{% url 'user_profile:profile_edit' user.id %}">Edit Profile</a>
        <a href="{% url 'user_profile:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'user_profile:login' %}">Login</a>
    {% endif %} <br><br>
    {% block content %}
    {% endblock %}

<div class="footer">
    <p style="text-align:center;">Copyright @ Akiyama Kunka 2021</p>
    <p style="text-align:center;">CS '24 @ University of North Carolina at Chapel Hill</p>
    <p style="text-align:center;">Code for Fun, Make Things Happen.</p>
</div>

</body>
</html>