{% extends 'base.html' %}
{% load staticfiles %}

    {% block title %}
        Akiyama's self-intro
    {% endblock %}

{% block content %}

        {% verbatim %}
        <div id ='operator'>
            <p>
                {{ message }}
            </p>
            <input v-model="message">
        </div>
        <script type="text/javascript">
            var myVue = new Vue({
                el : '#operator',
                data : {
                    message : "Fuck Internship!"
                },
            });
        </script>
        {% endverbatim %}

        <script>
        'use strict';
         var xiaoming = {
             name : 'xiaoming',
             birth : 1990,
             that : this,
             age : function(){

                 var cur_year = new Date().getFullYear();
                 return cur_year - that.birth;
             }
         }

        function get_age(){
            var y = new Date().getFullYear();
            return y - this.birth;
        }
        var count = 0;
        var old_parseInt = parseInt(); // just to store the previous parseInt

        window.parseInt = function (){
             count += 1;
             return oldParseInt.apply(null, arguments);
        }
        console.log(get_age.call(xiaoming));

        var arr = [1, 3, 5, 7, 9];
        var sum = arr.reduce(function(x, y){
            return x * y;
        });
        var s_1 = "1234";


       var myList = [1, 2, 3, 4, 5, 6];
        myList.forEach(console.log);

        function lazy_sum(arr){
            var sum_var = function(){
                return arr.reduce(function(x, y){
                    return x + y;
                });
            };
            return sum_var;
        }
        var f = lazy_sum([1, 2, 3]);
        console.log(f());

        function student(name){
            this.name = name;
            this.hello = function(){
                alert("Hello, " + this.name + "!");
            };
        }
        function another_student(name){
            this.name = name;
        }
        var std = new student("Xiaoming");
        std.hello();



        {##}
        {#var arr = [1, 2, 3, 4, 5, 6];#}
        {#var myString = arr.map(Math.pow);#}
        {#console.log(myString);#}


        </script>

        <div class="myTest mySetWidth myRelative">

        <a href="{% url 'index_page' %}">Back</a>
        <h1 style="text-align:center;">Software Development Engineer to be. </h1>
            <h2 style="text-align:center;">Code for fun, make things happen.</h2>
        </div>

{% endblock %}