{% extends 'base.html' %}
{% load staticfiles %}

    {% block title %}
        Akiyama's self-intro
    {% endblock %}

{% block content %}

        {% verbatim %}
        <div id ='operator'>
            <p>
                {{ message }}
            </p>
            <input v-model="message">
        </div>
        <script type="text/javascript">
            var myVue = new Vue({
                el : '#operator',
                data : {
                    message : "Fuck Internship!"
                },
            });
            <!-- HTML结构 -->
<div id="test-div">
  <p id="test-js">javascript</p>
  <p>Java</p>
</div>
        </script>
        {% endverbatim %}



    <ol id="test-list">
    <li class="lang">Scheme</li>
    <li class="lang">JavaScript</li>
    <li class="lang">Python</li>
    <li class="lang">Ruby</li>
    <li class="lang">Haskell</li>
</ol>
        <script>
        'use strict';
        // 获取<p>javascript</p>节点:
        var js = document.getElementById("id");
        // 修改文本为JavaScript:
        js.innerHTML = "JavaScript:";
        // 修改CSS为: color: #ff0000, font-weight: bold
        js.style.color = '#ff0000';
        js.style.on = 'bold';

        var sort = function(){
            let elements = document.querySelectorAll('.lang');
            let node = document.querySelector('#test-list');
            let arr = [];
            for(let it in elements){
                arr.push(it);
            }
            arr.sort((x, y) => x.textContent - y.textContent);
            for(let it in arr){
                node.appendChild(it);
            }

};


{#        var#}
{#    list = document.getElementById('list'),#}
{#    haskell = document.createElement('p');#}
{#haskell.id = 'haskell';#}
{#haskell.innerText = 'Haskell';#}
{#list.appendChild(haskell);#}


        </script>

        <div class="myTest mySetWidth myRelative">

        <a href="{% url 'index_page' %}">Back</a>
        <h1 style="text-align:center;">Software Development Engineer to be. </h1>
            <h2 style="text-align:center;">Code for fun, make things happen.</h2>
        </div>

{% endblock %}