{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    Login User
{% endblock %}
{% block content %}

     <a href="{% url 'index_page' %}">Back</a>
     <form method="post" action=".">
        {% csrf_token %}
        username : <input type="text" name="username">
        password : <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
     <p>Forgot Password ? <a href="{% url 'password_reset_recover' %}">Click Here</a></p>
{% endblock %}